footer {
    position: absolute;
    bottom: 0;
    background-color: #a0c4ff;
    text-align: center;
    color: black;
    width: 100%;
    font-family: Abhaya Libre ExtraBold;
    font-size: 1em;
} 