.action {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   .play {
   font-family: 'Abhaya Libre ExtraBold';
   font-size: 2em;
   font-weight:bold;
   margin-top: 2%;
   margin-bottom: 2%;
   width: 35%;
   height: 10%;
   border-width: medium;
   border-color: gray;
   border-radius: 1.875rem;
   }

   .winners {
   font-family: 'Abhaya Libre ExtraBold';
   font-size: 1.2em;   
   width: 6em;
   height: 5%;
   border-width: thin;
   border-color: gray;
   }


}

