body {
    
    background: url(../../assets/background_image.jpeg) no-repeat;
    background-size:cover;
    height: 100vh;
}

.coin {
    display: flex;
    
    
    flex-wrap: wrap;
    border: 1px solid red;
    
}

.circle{
    
   
  
    width: 150px ;
    height:150px ;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:chartreuse;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    
    border-style: solid;
    border-width: 2px;
    border-color: rgb(59, 56, 56);
    flex-basis: 30%;
    
}


.texto{
    
    
    font-family:Arial, Helvetica, sans-serif;
}
@media screen (min-width:760px) {
    .coin {
        width: 50%;
    }
}