@import "https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap";
@import './layouts/variables';
@import 'action';
@import 'coins';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../../assets/background_image.jpeg) no-repeat;
    background-size:cover;
    height: 100vh;
    font-family: 'Abhaya Libre', serif;
}


